h1{
    color:rgb(59, 102, 218);
    font-size:48px;
    text-align:center;
}

body{
    background-color:lightsteelblue;
    color:midnightblue;
}

a{
    color:rgb(64, 173, 111);
}

table, th{
    border:1px;
    border-style:solid;
}

.small-image{
    height:300px;
}

.large-image{
    height:500px;
}
